/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
.l-page{
  width: 990px;
}
.l-main{
  width: 990px;
}
.l-branding{
  width: 363px;
  margin: 0;
  height: 210px;
}
.sidebar-second .l-content{
  width: 600px;
  margin-right: 24px;
}
.sidebar-second .l-region--sidebar-second{
  width: 366px;
}

.view-equipos .views-row,
.page-taxonomy .node--teaser{
  clear: both;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #DDD;
}
.node--equipo--teaser .group-left{
  width: 80px;
}
.node--equipo--teaser .group-right{
  float: none;
  width: auto;
  margin-left: 100px;
}
.node--equipo--teaser .group-right .group-author{
  height: 32px;
  width: 170px;
}
.node--equipo--teaser .group-right .group-author .field--name-ds-user-picture{
  width: 24px;
  height: 32px;
  float: left;
}
.node--equipo--teaser .group-right .group-author .field--name-submitted-by{
  margin-left: 34px;
  font-style: italic;
}
.node--equipo--teaser .group-right .field--name-body{
  margin-top: 10px;
}

/** Partido **/
.page-node.node-type-partido #node_partido_full_group_evento{
  width: 170px;
  float: left;
}
.page-node.node-type-partido #node_partido_full_group_liga{
  width: 60px;
  float: left;
}
.page-node.node-type-partido #node_partido_full_group_datos{
  width: 100px;
  margin-left: 10px;
  float: left;
}
.page-node.node-type-partido #node_partido_full_group_encuentro{
  float: left;
  width: 430px;
}